@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@plugin "tailwind-scrollbar";

@plugin "daisyui";

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  color-scheme: "light";
  --color-base-100: oklch(88% 0.006 264.531);
  --color-base-200: oklch(95% 0.005 247.896);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(68% 0.01 258.338);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: "dark";
  --color-base-100: oklch(0.2739 0.0055 286.03);
  --color-base-200: oklch(0.1822 0 0);
  --color-base-300: oklch(14% 0 0);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(0.4128 0 0);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(98% 0.003 247.858);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@utility btn {
  @apply active:scale-95 transition-all ease-in-out duration-200 font-inter shadow-none;
}

@utility input {
  @apply bg-base-200 border border-base-100;
}

@utility select {
  @apply bg-base-200 border border-base-100;
}

@utility textarea {
  @apply bg-base-200 border border-base-100;
}

.modal {
  scrollbar-gutter: auto !important;
}

p {
  @apply text-sm;
}

@keyframes fade458 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
